##### RÄ™czne tworzenie Data Series

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [3]:
cities = ['London', 'Paris', 'Warsaw', 'Berlin']
cities

['London', 'Paris', 'Warsaw', 'Berlin']

In [4]:
pd.Series(cities)

0    London
1     Paris
2    Warsaw
3    Berlin
dtype: object

In [7]:
prime_numbers = (2, 3, 5, 7)
pd.Series(prime_numbers)

0    2
1    3
2    5
3    7
dtype: int64

In [6]:
logical_values = [True, True, False]
pd.Series(logical_values)

0     True
1     True
2    False
dtype: bool

In [8]:
Spielberg_filmography = {
    'Jaws': 1975,
    '1941': 1979,
    'Indiana Jones': 1981,
    'E.T.': 1982
}

pd.Series(Spielberg_filmography)

Jaws             1975
1941             1979
Indiana Jones    1981
E.T.             1982
dtype: int64

##### Laboratorium

In [9]:
weekdays = ['Monday', 'Thuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', ' Sunday']
pd.Series(weekdays)

0       Monday
1     Thuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object

In [10]:
free_days = [False, False, False, False, False, True, True]
pd.Series(free_days)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [11]:
holidays = {
    'New Year': '2022-01-01',
    'Epiphany': '2022-01-06',
    'Easter': '2022-04-01'
}

pd.Series(holidays)

New Year    2022-01-01
Epiphany    2022-01-06
Easter      2022-04-01
dtype: object