##### Filtrowanie Data Series

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
numbers = [1, 2, 3, 11, 12, 13]
numbers

[1, 2, 3, 11, 12, 13]

In [3]:
num_series = pd.Series(numbers)
num_series

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [4]:
num_series > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [5]:
num_series.where(num_series > 10)

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [7]:
num_series.where(num_series > 10, other=-1)

0    -1
1    -1
2    -1
3    11
4    12
5    13
dtype: int64

In [8]:
num_series.where(num_series > 10).dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [9]:
num_series.where(num_series > 10, inplace=True)
num_series

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [10]:
num_series.dropna(inplace=True)
num_series

3    11.0
4    12.0
5    13.0
dtype: float64

In [15]:
numbers = [1, 2, 3, 11, 12, 13]
num_series = pd.Series(numbers)

In [17]:
num_series.filter(items=[0, 2, 4])

0     1
2     3
4    12
dtype: int64

##### Laboratorium

In [21]:
ix = ['do 6', '7-14', '15-17', '18-24', '25-39', '40-59', '60 i więcej']
val = [14, 334, 312, 5823, 9491, 7486, 4343]

incidents = pd.Series(data=val, index=ix)
incidents

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 i więcej    4343
dtype: int64

In [22]:
incidents.where(incidents > 1000)

do 6              NaN
7-14              NaN
15-17             NaN
18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i więcej    4343.0
dtype: float64

In [23]:
incidents.where(incidents > 1000).dropna()

18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i więcej    4343.0
dtype: float64

In [25]:
incidents_1000 = incidents.where(incidents > 1000).dropna()
incidents_1000

18-24          5823.0
25-39          9491.0
40-59          7486.0
60 i więcej    4343.0
dtype: float64

In [26]:
incidents

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7486
60 i więcej    4343
dtype: int64

In [28]:
incidents.filter(items=['18-24', '25-39', '40-59'])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [29]:
incidents.where(incidents <= 1000, inplace = True)
incidents.dropna(inplace=True)
incidents

do 6      14.0
7-14     334.0
15-17    312.0
dtype: float64